# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter build and dependency files
build/
.android/
.ios/
.macos/
.web/
linux/
windows/

# Dart & Flutter package dependencies
.dart_tool/
.packages

# Xcode files (for iOS/MacOS)
**/xcuserdata/
**/DerivedData/
*.xcworkspace
*.lock

# Android dependencies
*.iml
.gradle/
.idea/
local.properties

# VS Code & JetBrains IDE settings
.vscode/
*.log

# Flutter environment settings
.env

# Bytecode and compiled files
*.class
*.jar
*.swp
*.lock

# Firebase (optional, but you may exclude `google-services.json`)
firebase.json
google-services.json
firebase_options.dart
